<div>
    <a asp-action="MyPage" asp-controller="AccountManager">Профиль</a>
    <a asp-action="UserSearch" asp-controller="Friends">Поиск</a>
    <a asp-action="MyFriends" asp-controller="Friends">Друзья</a>
</div>
