@using System.ComponentModel.DataAnnotations;
@using ViewModels;
@using Extentions;
@model ViewModels.Account.SearchViewModel
@{
}
  <div class="search-form-container">
    <a class="search-back-btn">Назад к моему профилю</a>
    <h1>Хотите найти кого-то?</h1>
    <form class="search-form" method="post" asp-action="SearchResult" asp-controller="Friends">
      <div class="search-centered">
            <label><span>Выберите критерий поиска: </span>
            <select asp-for="SearchParam" class="select-search-param">
            @for (int i = 0; i < (int)SearchParams.Stop; i++)
            {
            <option value="@((SearchParams)i)">@(((SearchParams)i).GetAttribute<DisplayAttribute>().Name)</option>
            }
            </select>
            </label>
        <label><span>Введите значение для поиска: </span>
          <input class="search-inp" type="text" asp-for="Value" />
        </label>
      </div>
      <button type="submit">Поиск</button>
    </form>
  </div>

<partial name="SearchResult" />

